# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

## For loop

In the programming languages, there are many situations when you need to execute a block of code several numbers of times. A loop statement allows us to execute a statement or group of statements multiple times.

The general syntax for a ‘for’ loop is as follows: 

<pre>
<b>for (variable) in <b>sequence:
    block of statements</b>
</pre>

Here, the block of statements within the loop will get executed, until all ‘sequence’ elements get exhausted. Once all sequence elements are exhausted, the program will come out of the loop.

In [1]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        print("We Buy")

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

No new positions
We Sell
We Buy
We Buy
We Sell
No new positions
We Buy
No new positions
We Buy
We Sell
We are now out of the loop

Here, the output is what was discussed in the previous video unit.<br>
<br>
The variable ‘i’ first stores the value ‘300’ in it and runs it through the loop to execute the statements. Here, we have placed a condition that if ‘i == 300’ we will print “No new positions”. Hence, as you can see, this is the first statement in our output.<br>
<br>
Now, ‘i’ will run through the sequence and pick the second element of the sequence which is ‘305’. It will run it through the statements of the loop. When i = 305, it will execute the block where ‘if i > 300: print (“We Sell”). Check the second output.<br>
<br>
Similarly, it will keep executing all the elements of the loop. Observe the output.

Let us take another example.

In [2]:
import numpy as np
import pandas as pd

infy = pd.read_csv('../data_modules/infy_twoweeks.csv')
infy

# We have delibrately taken a smaller dataframe to understand the output.
# You may experiment using bigger dataframes to understand the power of 'for' loop

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,No. of Trades
0,INFY,EQ,2-Apr-18,1131.80,1141.00,1149.55,1121.30,1136.70,1137.15,1135.86,4036351,142078
1,INFY,EQ,3-Apr-18,1137.15,1134.70,1143.55,1128.10,1139.40,1140.45,1135.21,2038584,114034
2,INFY,EQ,4-Apr-18,1140.45,1144.00,1144.55,1120.00,1122.70,1124.20,1131.81,2406651,137029
3,INFY,EQ,5-Apr-18,1124.20,1139.55,1151.30,1129.10,1146.05,1147.55,1140.71,3881772,101745
4,INFY,EQ,6-Apr-18,1147.55,1143.00,1146.00,1122.10,1127.55,1127.00,1128.81,2968871,137277
5,INFY,EQ,9-Apr-18,1127.00,1125.00,1125.80,1106.55,1111.45,1111.25,1113.12,3601441,171118
6,INFY,EQ,10-Apr-18,1111.25,1112.00,1124.50,1105.40,1114.65,1113.40,1115.77,4463029,144468
7,INFY,EQ,11-Apr-18,1113.40,1118.00,1131.50,1116.50,1124.50,1124.25,1124.78,4512787,102586
8,INFY,EQ,12-Apr-18,1124.25,1129.45,1172.75,1125.00,1164.05,1162.60,1157.71,8522183,216130
9,INFY,EQ,13-Apr-18,1162.60,1174.00,1185.90,1150.25,1168.00,1171.45,1172.37,10613519,180965

In [3]:
# We will just take the 'Close Price' column to run the 'for' loop

for i in range(len(infy)):

    if (infy.iloc[i]["Close Price"] < 1120):
        print("We buy")

    elif ((infy.iloc[i]["Close Price"] > 1120) & (infy.iloc[i]["Close Price"] < 1150)):
        print("We do nothing")

    elif (infy.iloc[i]["Close Price"] > 1150):
        print("We Sell")

We do nothing
We do nothing
We do nothing
We do nothing
We do nothing
We buy
We buy
We do nothing
We Sell
We Sell

## While loop

(Optional Read)

The while construct consists of a condition and block of code. 

The general syntax for a ‘while’ loop is as follows: 

<pre>
<b> while condition/expression:
    block of statements</b>
</pre>

To begin, the condition is evaluated.<br>
<br>
If the condition is true, the 'block of statements' is executed. Every time, the condition is checked before executing the block of statements. <br>
<br>
This keeps on repeating until the condition becomes false. Once the condition is false, it comes out of the loop to execute the other statements.

In [4]:
a = 0  # Variable

while a <= 10:  # This is the condition. The loop will execute until the condition becomes 'false'
    a = a + 1
    print(a)
print("We are now out of the loop")

1
2
3
4
5
6
7
8
9
10
11
We are now out of the loop

In the upcoming units, we will practice these codes through quizzes and interactive exercises.<br><br>